

.article{
  background: #001873;
  display: flex;
  height: 100vh;
  &__inner{
    width:50%;
    position: relative;
    &__content{
      position: relative;
      width:100%;
      .logo{
        position: absolute;
        width: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
      .semicircular{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../public/images/2/emicircular.png) 0 0 /100% 100% no-repeat;
      }
    }
  }
}
.flex{
  display: flex;
  position: relative;
}
.hight333{
  height: 33.3%;
}
.hight677{
  height: 67.7%;
}
.header{
  height: 33.3%;
}
.mainmassage{
  color: #ffffff;
  font-size: 6rem;
  overflow: hidden;
  // height: 33.3%;
  // top: 50%;
  //       left: 50%;
  //       transform: translate(-50%, -50%);
  //       -webkit-transform: translate(-50%, -50%);
  //       -ms-transform: translate(-50%, -50%);
  p{
    margin:0;
    display : inline-block;
    padding-left: 100%;
    white-space : nowrap;
    line-height : 1em;
    animation : scrollSample01 40s linear infinite;
    
    }
    @keyframes scrollSample01{
    0% { transform: translateX(0)}
    100% { transform: translateX(-100%)}
      }
}
.vertical{
  writing-mode: vertical-rl;
  font-size: 2rem;
  color: #ffffff;
}
